{% extends "__base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    TODO: Put typekit font script here
{% endblock %}

{% block wrapper %}


    <div class="hero">
        <div class="container">
            <div class="row" id="hero">
                <div id="home" class="col-sm-12">
                    <div id="border-box"></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="article article-preview">
                        <h2>Tech for culture</h2>
                        <p>We revolutionize the way you use your mobile phones by socially
                            integrating rewards in the physical world whilst creating new means of
                            communications for businesses.
                        </p>
                        <p class="pull-down"><em>Everybody wins.</em></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="article article-preview">
                        <h2>Cosytech & launches Startup weekend</h2>
                        <div class="img-box">
                            <img src="{% static "img/stereo.svg" %}" alt="stereo"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="article article-preview">
                        <h2>Blog</h2>
                        <p>Cosytech reveals their secret music skills, watch it on their blog</p>
                        <div class="img-box">
                            <img src="{% static "img/guitar.svg" %}" alt=""/>
                        </div>
                        <a href="" class="pull-down read-more">Coming soon...</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row quote-section">
            <div class="col-sm-12">
                <div id="quote-box">
                    <h1>«People should be able to walk up to any smart device -
                        a vending machine, a poster, a toy, a bus stop, a rental car
                        and not have to download an app first. Everything should be just a tap away.»
                    </h1>
                    <div class="author">
                        <h2>
                            Scott Jenson <br/>
                            <small>Google, Mobile Technology</small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="article article-full-width section">
                <div class="col-sm-6">
                    <h2 id="trickle">Introducing Trickle</h2>
                    <p>In these days of high technology and high speed, we seldom
                        take ourselves time to appreciate the rustle of air in our hair, or the gentle
                        trickle of water from a shower. Good solutions that grant ourselves more
                        time to spend with the ones we love, doing what we love, that is what we pursue.
                        No hassle, just pure enjoyment. Information you seek, instantly.
                    </p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <img class=" img-responsive" src="{% static "img/trickle-logo.svg" %}" alt="Trickle logo"/>
                </div>
            </div>
        </div>
    </div>

    <div class="video">
        <div class="container">
            <div class="row">
                <video poster="{% static "img/vid-bg.jpg" %}" muted="muted" preload="auto" loop="true" autoplay="true"><source type="video/webm" src="{% static "" %}"></video>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="section buzzword">
                <div class="col-sm-12">
                    <div class="col-sm-2">
                        <img src="{% static "img/icon_battery.svg" %}" alt=""/>
                        <p>Units are independent of power</p>
                    </div>
                    <div class="col-sm-2">
                        <img src="{% static "img/icon_cloud.svg" %}" alt=""/>
                        <p>Accessible everywhere</p>
                    </div>
                    <div class="col-sm-2">
                        <img src="{% static "img/icon_present.svg" %}" alt=""/>
                        <p>Packed with predefined content</p>
                    </div>
                    <div class="col-sm-2">
                        <img src="{% static "img/icon_map.svg" %}" alt=""/>
                        <p>Mapping customer behaviour</p>
                    </div>
                    <div class="col-sm-2">
                        <img src="{% static "img/icon_nfc.svg" %}" alt=""/>
                        <p>Supported by NFC</p>
                    </div>
                    <div class="col-sm-2">
                        <img src="{% static "img/icon_connect.svg" %}" alt=""/>
                        <p>Content shared wirelessly</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row text-center">
            <h1>Awesome stuff is <span class="orange">just</span> around the corner</h1>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="section">
                    <h4 id="contact" class="orange text-medium">FIND US</h4><br/>
                    <p class="text-normal">
                        <span class="text-medium blue">
                        Contact: <br/>
                            </span>
                        <span class="orange">social@cosytech.net<br/>
                            </span>
                        <small>
                        <br/>
                        Forskningsparken <br/>
                        Gaustadalléen 21
                        <br/>
                        <br/>
                        <span class="orange">
                        0349 Oslo — NORWAY <br/>
                        +47 240 22 225 </span><br/>
                        <br/>
                            Applications:
                            <br/><span class="orange">
                            intern@cosytech.net
                            </span>
                        </small>
                    </p>

                </div>
            </div>
        </div>
    </footer>

{% endblock %}