{% extends "__base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    {% comment %}TODO: Put typekit font script here{% endcomment %}
{% endblock %}

{% block wrapper %}


    <div class="hero">
        <div class="container">
            <div class="row" id="hero">
                <div class="col-sm-12">
                    <div id="border-box"></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="article-preview">
                        <h2>Tech for culture</h2>
                        <p>We revolutionize the way you use your mobile phones by socially
                            integrating rewards in the physical world whilst creating new means of
                            communications for businesses.
                        </p>
                        <p class="pull-down"><em>Everybody wins.</em></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="article-preview">
                        <h2>Cosytech & launches Startup weekend</h2>
                        <div class="img-box">
                            <img src="{% static "img/stereo.svg" %}" alt="stereo"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="article-preview">
                        <h2>Blog</h2>
                        <p>Cosytech reveals their secret music skills, watch it on their blog</p>
                        <img src="{% static "img/guitar.svg" %}" alt=""/>
                        <a href="" class="pull-down read-more">Read more</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row quote-section">
            <div class="col-sm-12">
                <div id="quote-box">
                    <h1>«People should be able to walk up to any smart device -
                        a vending machine, a poster, a toy, a bus stop, a rental car
                        and not have to download an app first. Everything should be just a tap away.»
                    </h1>
                    <div class="author">
                        <h2>
                            Scott Jenson <br/>
                            <small>Google, Mobile Technology</small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" id="hero">
                <div class="col-sm-12">
                    <div id=""></div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="row">
            <div class="sectionA">

                <div class="col-sm-6">
                    <h2>Introducing the Trickle</h2>
                    <p>
                    In these days of high technology and high speed, we seldom take ourselves time to appreciate the rustle of air in our hair, or the gentle trickle of water from a shower.
                    Good solutions that grant ourselves more time to spend with the ones we love, doing what we love, that is what we pursue. No hassle, just pure enjoyment. Information you seek, instantly.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" src="{% static "img/trickle-logo.svg" %}" alt="Trickle logo"/>
                </div>
            </div>
        </div>

    </div>

    {% comment %}
    <div class="content-section-a" id="first-section">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Collect YP and <br/>and get rewards</h2>
                    <p class="lead">Get customers involved with your brand by utilizing proximity technology for context aware information. The future is here.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive hidden-xs" id="firstImage" src="{% static "img/trickle.png" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
{% endcomment %}


    <!-- Footer -->
    <footer>

    </footer>

{% endblock %}