.border-frame {
  border: solid 5px #f16949;
}
.border-frame-lg {
  border: solid 15px #f16949;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  color: #399fbd;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  background-color: white;
}
.navbar-collapse {
  background-color: white;
  margin-top: 40px;
  margin-bottom: 20px;
}
a:visited {
  text-decoration: none;
  outline: none;
}
.icon-bar {
  background-color: #f16949;
}
.navbar {
  height: 100px;
  background-color: white;
}
.navbar-brand {
  width: 250px;
}
.navbar-brand .img {
  width: 100%;
}
.navbar-text {
  color: #f16949;
  font-size: 20px;
  font-weight: 500;
  border-bottom: solid 2px #f16949;
}
.hero {
  background-color: #ecedef;
  margin-top: 100px;
}
.hero #hero {
  background: url("../img/hero1.jpg") no-repeat center center;
  background-size: cover;
}
.border-box {
  height: 300px;
  border: solid #f16949;
  margin: 30px 15px;
}
.article-preview {
  height: 300px;
  margin: 10px 0px;
  border-top: solid 3px rgba(241, 105, 73, 0.3);
  border-bottom: solid 3px rgba(241, 105, 73, 0.3);
}
p > em {
  font-weight: 500;
}
h2 {
  color: #399fbd;
  font-weight: 400;
}
.img-box {
  background-color: #0000FF;
  width: 100px;
  height: 100px;
  clip-path: inset(10px 20px 50px 10px);
}
.img-small {
  position: absolute;
  clip-path: inset(10px 20px 90px 40px);
}
