@import "colors";
@import "profile";


@navbar-height: 100px;
@box-inset: 30px;
@row-height: 300px;

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 200;

  color: @cosy-blue;

  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  background-color: white;
}

@media (max-width: 780px){
  .navbar-collapse {
    text-align: center;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 20px;

    -webkit-box-shadow: 0px 13px 0px 0px rgba(163,163,163,0.64);
    -moz-box-shadow: 0px 13px 0px 0px rgba(163,163,163,0.64);
    box-shadow: 0px 13px 0px 0px rgba(163,163,163,0.64);
  }
  .navbar-brand{
    width: 300px;
  }
}

a:visited{
  text-decoration: none;
  outline: none;
}

.icon-bar{
  background-color: @cosy-orange;
}

.navbar{
  height: @navbar-height;
  background-color: white;

}

.navbar-brand{
  width: 250px;

  .img{
    width: 100%;
  }
}

.navbar-text{
  color: @cosy-orange;
  font-size: 20px;
  font-weight: 500;
  .underline(@cosy-orange);
}

.hero{
  margin-top: @navbar-height;


  #hero{
    background: url("../img/hero1.jpg") no-repeat center center;
    background-size: cover;
  }
}

#border-box{
 .cosy-box(@cosy-orange);
}

.article-preview{
  height: @row-height;
  margin: 10px 0px;
  border-top: solid 3px fade(@cosy-orange, 30%);
  border-bottom: solid 3px fade(@cosy-orange, 30%);
}

.article-preview > p{
  font-size: 2vmin;
}


@media (max-width: 780px) {
  .article-preview > p {
    font-size: 2vmax;
  }
    .article-preview > h2{
      font-size: 4vmax;
    }

    img{
      width: 50%;
      margin: 0 auto;
    }
}

p > em{
  font-weight: 500;
  font-size: 20px;
}

h2{
  color: @cosy-blue;
  font-weight: 400;
}

.pull-down{
  position:absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.img-small {
  position: absolute;
}

.img-box{
  width: 90%;
  margin: 0 auto;
}

.read-more{
  position: absolute;
  right: 0;
  padding-right: 30px;
  color: @cosy-orange;
  font-weight: 600;
  font-size: 16px;

  :hover{
    text-decoration: none;
  }
}

.quote-section{
  color: white;
  background-color: @cosy-orange;

  h1{
    margin-left: 60px;
    margin-right: 60px;

    margin-top: 40px;
    font-size: 4vmin;
    font-weight: 600;
    font-style: italic;

  }
  .author{

    color: white;
    text-align: right;
    right: 0;
    margin-right: 60px;
    margin-bottom: 60px;

    h2{
      font-size: 20px;
      color: inherit;
      font-weight: 500;


      small{
        color: inherit;
      }
    }
  }
}

#quote-box{
  .cosy-box(@white);
}

.sectionA{
    margin-top: 30px;
}

.sectionA img{
  height: 200px;
  margin: 0 auto;
}