<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    {% block meta_tags %}
        <meta charset="utf-8" />
        <meta name="description" content="CosyTech" />
        <meta name="keywords" content="Proximity, NFC, BLE" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="icon" href="{% static "" %}" />  {% comment %}TODO: fix small icons{% endcomment %}
    {% endblock %}

    <title>{% block title %}CosyTech{% endblock %}</title>

    {% block stylesheets %}
        {% include "_base_css.html" %}
    {% endblock %}

    {% block extra_head %}{% endblock %}

</head>
<body>

<header class="navbar navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../#" class="navbar-brand" alt="Less">
                <img src=" {% static "img/logo.svg" %} " alt="logo">
            </a>
        </div>
        <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a class="navbar-text" href="">Home</a>
                </li>
                <li>
                    <a class="navbar-text" href="">Trickle</a>
                </li>
                <li>
                    <a class="navbar-text" href="">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

{% block wrapper %}
{% endblock %}

{% block javascript %}
    {% include "_base_js.html" %}
{% endblock %}

</body>
<html>